body{
    background-image: url(./images/cloud-background.jpg);
    font-family: "Trebuchet MS", sans-serif;
}

h1{
    text-align: center;
    color: blue;
    font-family: "Chalkduster";
}

button{
    background-color: yellow;
    color: blue;
    border-color: yellow;
    border-radius: 10% 10% 10% 10%;
    display: flex;
    margin: auto;
}

#quote{
    text-align: left;
    display: flex;
    margin: auto;
}

#image{
    display: flex;
    margin: auto;
    width: 250px;
    height: 250px;
}